<app-navbar></app-navbar>
<form (ngSubmit)='createSVApi()'>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
            <label class="form-label" for="form6Example1">Họ Tên</label>
          <input type="text" id="form6Example1" class="form-control" />

        </div>
      </div>
      <div class="col">
        <div class="form-outline">
            <label class="form-label" for="form6Example2">MSSV</label>
          <input type="text" id="form6Example2" class="form-control" />

        </div>
      </div>
    </div>
  
    <!-- Text input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">email</label>
      <input type="text" id="form6Example3" class="form-control" />

    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Place order</button>
  </form>