<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">ID</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg" id="id" />
</div>
<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg">Tên</span>
    <input type="text" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg"  id="name"/>
</div>
<div class="input-group input-group-lg">
    <span class="input-group-text" id="inputGroup-sizing-lg" >Email</span>
    <input type="email" class="form-control" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-lg" id="email" />
</div>
<button type="button" class="btn btn-primary" id="addButton" (click)="addSV()">ThêmSV</button>